
<div class="container-fluid text-center">
  <div class="row content">
    <div class=" navbar navbar-default navbar-fixed-left navbar-offset ">
      <ul>
          <p><a href=" #/city"><i class="fa fa-map-marker"></i>City</a></p>
          <p><a href=" #/showtime"><i class="fa fa"></i>ShowTime</a></p>
          <p><a href=" #/cinema"><i class="fa fa"></i>Cinemas</a></p>
          <p><a href=" #/movie"><i class="fa fa"></i>Movies</a></p>
          <p><a href=" #/mapping"><i class="fa fa"></i>Mapping</a></p>
       </ul>
    </div>
  </div>
</div>


<div class="nav_admin">
    <center>
        <table class="table">
            <thead>
                <tr>
                    <th>Enter the movie name:</th>
                    <th>Director</th>
                    <th>Genre</th>
                    <th>Language</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input ng-model="movi.moviTitle" /></td>
                    <td><button ng-click="addMovie(movi)" class="btn btn-primary"><i class="fa fa-plus"></button></td>
                    <td><button ng-click="updateMovie(movi)" class="btn btn-primary"><i class="fa fa-thumbs-up"></button></td>
                </tr>
                <tr ng-repeat=" movi in moviList">
                    <td>{{movi.moviTitle}}</td>
                    <td>{{movi.moviDirector}}</td>
                    <td>{{movi.moviGenre}}</td>
                    <td>{{movi.moviLanguage}}</td>
                    <td><button ng-click="removeMovie(movi)" class="btn btn-danger"><i class="fa fa-trash-o"></button></td>
                    <td><button ng-click="editMovie(movi)" class="btn btn-primary"><i class="fa fa-pencil-square-o"></button></td>
                </tr>
            </tbody>
        </table>
    </center>
</div>
    <!-- <div>
        <center>
            <table class="table">
                <thead>
                    <tr>
                        <th>Enter the movie name:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input ng-model="movi.moviTitle" /></td>
                        <td><button ng-click="addMovie(movi)" class="btn btn-primary">Add </button></td>
                        <td><button ng-click="updateMovie(movi)" class="btn btn-primary">Update</button></td>
                    </tr>
                </tbody>
            </table>
            <br/>

        </center>
    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
              <th>Movies</th>
              <th>Director</th>
              <th>Genre</th>
              <th>Language</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat=" movi in moviList">
              <td>{{movi.moviTitle}}</td>
              <td>{{movi.moviDirector}}</td>
              <td>{{movi.moviGenre}}</td>
              <td>{{movi.moviLanguage}}</td>
              <td><button ng-click="removeMovie(movi)" class="btn btn-danger">Remove</button></td>
              <td><button ng-click="editMovie(movi)" class="btn btn-primary">Edit</button></td>
          </tr>
        </tbody>
      </table>

    </div> -->
