<div  class="container">
      <div class="col-sm-8">

      <div class="well well-sm">
        <div >
          <h4>Select Payment Method-</h4>
        </div>
        <br>
          <div class="navbar payment">

            <nav class="navbar-payment">

               <ul class="nav navbar-nav">
                 <li class="active"><a>Net Banking</a></li>
               <li><a >Quick Pay</a></li>
               <li><a >Credit/Debit Card</a></li>
               <li><a >Other Wallets</a></li>
               <li><a >Gift Voucher</a></li>
               <li><a >Redeem Points</a></li>

               </ul>

             </nav>
           </div>

           <div class="payment-form-wrapper">
             <div class="bank-select">
             <form>
               <div class="qwe">
               <input type="radio" name="bank" id="hdfc"/>
               <label for="hdfc"><img src="img/imagehdfc.png" style="width:200px; height:55px;"></label>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <input type="radio" name="bank" id="city"/>
               <label for="city"><img src="img/imagecity.png" style="width:200px; height:55px;"></label>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </div>
               <br>
               <div class="qwer">
               <input type="radio" name="bank" id="icici"/>
               <label for="icici"><img src="img/imageicici.png" style="width:200px; height:55px;"></label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <input type="radio" name="bank" id="kotak"/>
               <label for="kotak"><img src="img/imagekotak.png" style="width:200px; height:55px;"></label>
              </div>
              <br>
              <div class="qwert">
               <input type="radio" name="bank" id="sbi"/>
               <label for="sbi"><img src="img/imagesbi.png" style="width:200px; height:55px;"></label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <input type="radio" name="bank" id="axis"/>
               <label for="axis"><img src="img/imageaxis.jpg" style="width:200px; height:55px;"></label>
             </div>
             <div class="qwerty">
               <input type="radio" name="bank" id="pnb"/>
               <label for="pnb"><img src="img/imagepnb.jpg" style="width:200px; height:55px;"></label>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <input type="radio" name="bank" id="idbi"/>
               <label for="idbi"><img src="img/imageidbi.jpg" style="width:200px; height:55px;"></label>
             </div>

             </form>

           </div>
           </div>
           <br><br>
            <h4>ALL BANKS</h4>
            <form>Select A Bank
            <select > Select A Bank
              <<option> </option>
              <option>Canara Bank</option>
              <option>Fedral Bank </option>
              <option>Standard Charted </option>
              <option>Indian Overseas</option>
              <option>Bank of India</option>
              <option>Bank of Borada</option>
              <option>Hsbc</option>
              <option>Bharati Bank</option>
              <option>Indusind Bank </option>
              <option>Yes Bank</option>
            </select>
          </form>
        </div>





      </div>


    <div class="col-sm-4">

      <div class="well well-sm">
        <div>
      <h3> <center>  Ticket </center></h3>
      </div>
      <div>
        <center><img src="img/imageqr.png" style="width:140px; height:140px;"></center>
      </div>

      <div >
        <H3 id="moviName" ng-model="some"></h3>
        </div>

        <div>
           <h5 id="cityName"></h5>
          <h5 id="thr"></h5>
        </div>


        <div>
          <h5 id="tim">  </h5>
          <h5 id="tkt"></h5>

          <h5 id="cls"> </h5>

      </div>
      ...................................................................................
      <div>
        <h3 id="amt"> Total Amount</h3>
        <h5><input type="checkbox">Book a Smile</input></h5>

    </div>
    <div>
    <center>  <button class="btn btn-success">+ Make Payment</input> </center>
    </div>

</div>
</div>
<div class="col-sm-8">
<div class="well well-sm">
  <h2>Book A Smile </h2>
<P>Book a smile is a non- profit initiative by movie booking.
  To bring thousands of simle to homeless. your little effort could
  change someone's life </p>
</p>Please Donate</p>



</div>
</div>
<div class="col-sm-4">
  <div class="well well-sm">
    <h2>FeedBack</h2>
    <p>Your Feedback is valuable to us </p>
    <form>

    </form>

</div>
