<div class="row">
  <br/><br/><br/>
  <div class="col-xs-12">
    <div class="col-md-12" ;width:95%; border-radius:10px; border-color:black;font-family:serif>
    <center>  <h1 class="text-center">
        WELCOME TO THE SEAT BOOKING PAGE
      </h1>
    </center>
    </div>
    <br/><br/>

<div class="col-md-12">
    <table class="table table-condensed" style="text-align:center">
      <tr>
        <th style="text-align:center">Movie</th>
    <th style="text-align:center">Theatre</th>
<th style="text-align:center">Show</th>
<th style="text-align:center">Date</th>
</tr>
<tr>
      <td>{{movieName}}</td>
      <td>{{movieTheatre}}</td>
      <td>{{movieShow}}</td>
      <td>{{movieDate}}</td>
</tr>
</table>
</div>
</div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
				<div class="col-sm-4 well">
          <center>
          <table width="70%">
            <tr><th>Class</th>
  				<td><select class="" id="Seatclass">
          <option>Select Class</option>
            <option>GOLD(250/-)</option>
            <option>SILVER(200/-)</option>
  				</select>
        </td></tr>
        </table>
      </center>
        </div>
        <div class="col-sm-4 well">
          <center>
          <table width="70%">
            <tr><th>Number Of Seats</th>
          <td><select class="" id="no-of-seats">
          <option>Select Tickets</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
  				</select>
        </td></tr>
        </table>
        </center>
  </div>
  <div class="col-xs-2"></div>
</div>
<br/><br/>
          <div class="row">
            <div class="col-sm-9">
				<center>
			<div class="style2"><b><h4 class="h4style" style="">GOLD CLASS (₹ 250/ )<h4></b></div>

				<table style="width:50%;"  align="center" class="table table-default" id="gold">
        <tr>
		    <td><div align="center" class="style1" id="a01"><i class="fa fa-wheelchair"></i>A01</div></td>
        <td><div align="center" class="style1" id="a02"><i class="fa fa-wheelchair"></i>A02</div></td>
        <td><div align="center" class="style1" id="a03"><i class="fa fa-wheelchair"></i>A03</div></td>
        <td><div align="center" class="style1" id="a04"><i class="fa fa-wheelchair"></i>A04</div></td>
        <td><div align="center" class="style1" id="a05"><i class="fa fa-wheelchair"></i>A05</div></td>
        <td><div align="center" class="style1" id="a06"><i class="fa fa-wheelchair"></i>A06</div></td>
				<td><div align="center" class="style1" id="a07"><i class="fa fa-wheelchair"></i>A07</div></td>
				<td><div align="center" class="style1" id="a08"><i class="fa fa-wheelchair"></i>A08</div></td>
				<td><div align="center" class="style1" id="a09"><i class="fa fa-wheelchair"></i>A09</div></td>
				<td><div align="center" class="style1" id="a10"><i class="fa fa-wheelchair"></i>A10</div></td>
    </tr>

    <tr>
   <td></td>
      <td><div align="center"class="style1"id="b2"><i class="fa fa-wheelchair"></i>B02</div></td>
      <td><div align="center"class="style1"id="b2"><i class="fa fa-wheelchair"></i>B03</div></td>
      <td><div align="center"class="style1"id="b3"><i class="fa fa-wheelchair"></i>B04</div></td>
      <td><div align="center"class="style1"id="b4"><i class="fa fa-wheelchair"></i>B05</div></td>
      <td><div align="center"class="style1"id="b6"><i class="fa fa-wheelchair"></i>B06</div></td>
			<td><div align="center"class="style1"id="b7"><i class="fa fa-wheelchair"></i>B07</div></td>
			<td><div align="center"class="style1"id="b8"><i class="fa fa-wheelchair"></i>B08</div></td>
			<td><div align="center"class="style1"id="b9"><i class="fa fa-wheelchair"></i>B09</div></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><div align="center"class="style1"id="c3"><i class="fa fa-wheelchair"></i>C03</div></td>
    <td><div align="center"class="style1"id="c4"><i class="fa fa-wheelchair"></i>C04</div></td>
    <td><div align="center"class="style1"id="c5"><i class="fa fa-wheelchair"></i>C05</div></td>
    <td><div align="center"class="style1"id="c6"><i class="fa fa-wheelchair"></i>C06</div></td>
		<td><div align="center"class="style1"id="c7"><i class="fa fa-wheelchair"></i>C07</div></td>
	  <td><div align="center"class="style1"id="c8"><i class="fa fa-wheelchair"></i>C08</div></td>
</tr>

</table>
<br/>

<div class="style2"><b><h4 class="h4style">SILVER CLASS (₹ 200/ )<h4></b></div>


<table style="width:50%;"  align="center" class="table table-default" id="silver">
<tr>
  <td><div align="center"class="style1"id="d01"><i class="fa fa-wheelchair"></i>D01</div></td>
  <td><div align="center"class="style1"id="d02"><i class="fa fa-wheelchair"></i>D02</div></td>
  <td><div align="center"class="style1"id="d03"><i class="fa fa-wheelchair"></i>D03</div></td>
  <td><div align="center"class="style1"id="d04"><i class="fa fa-wheelchair"></i>D04</div></td>
  <td><div align="center"class="style1"id="d05"><i class="fa fa-wheelchair"></i>D05</div></td>
  <td><div align="center"class="style1"id="d06"><i class="fa fa-wheelchair"></i>D06</div></td>
	<td><div align="center"class="style1"id="d07"><i class="fa fa-wheelchair"></i>D07</div></td>
	<td><div align="center"class="style1"id="d08"><i class="fa fa-wheelchair"></i>D08</div></td>
	<td><div align="center"class="style1"id="d09"><i class="fa fa-wheelchair"></i>D09</div></td>
	<td><div align="center"class="style1"id="d10"><i class="fa fa-wheelchair"></i>D10</div></td>

</tr>
<tr>
  <td></td>
  <td><div align="center"class="style1"id="e02"><i class="fa fa-wheelchair"></i>E02</div></td>
  <td><div align="center"class="style1"id="e03"><i class="fa fa-wheelchair"></i>E03</div></td>
  <td><div align="center"class="style1"id="e04"><i class="fa fa-wheelchair"></i>E04</div></td>
  <td><div align="center"class="style1"id="e05"><i class="fa fa-wheelchair"></i>E05</div></td>
  <td><div align="center"class="style1"id="e06"><i class="fa fa-wheelchair"></i>E06</div></td>
	<td><div align="center"class="style1"id="e07"><i class="fa fa-wheelchair"></i>E07</div></td>
	<td><div align="center"class="style1"id="e08"><i class="fa fa-wheelchair"></i>E08</div></td>
	<td><div align="center"class="style1"id="e09"><i class="fa fa-wheelchair"></i>E09</div></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td><div align="center"class="style1"id="f03"><i class="fa fa-wheelchair"></i>F03</div></td>
  <td><div align="center"class="style1"id="f04"><i class="fa fa-wheelchair"></i>F04</div></td>
  <td><div align="center"class="style1"id="f05"><i class="fa fa-wheelchair"></i>F05</div></td>
  <td><div align="center"class="style1"id="f06"><i class="fa fa-wheelchair"></i>F06</div></td>
	<td><div align="center"class="style1"id="f07"><i class="fa fa-wheelchair"></i>F07</div></td>
	<td><div align="center"class="style1"id="f08"><i class="fa fa-wheelchair"></i>F08</div></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td><div align="center"class="style1"id="g04"><i class="fa fa-wheelchair"></i>G04</div></td>
  <td><div align="center"class="style1"id="g05"><i class="fa fa-wheelchair"></i>G05</div></td>
  <td><div align="center"class="style1"id="g06"><i class="fa fa-wheelchair"></i>G06</div></td>
	<td><div align="center"class="style1"id="g07"><i class="fa fa-wheelchair"></i>G07</div></td>
</tr>
	<tr>
  <td></td>
  <td></td>
  <td></td>
  <td><div align="center"class="style1" id="h04"><i class="fa fa-wheelchair"></i>H04</div></td>
  <td><div align="center"class="style1" id="h05"><i class="fa fa-wheelchair"></i>H05</div></td>
  <td><div align="center"class="style1" id="h06"><i class="fa fa-wheelchair"></i>H06</div></td>
	<td><div align="center"class="style1" id="h07"><i class="fa fa-wheelchair"></i>H07</div></td>
  </tr>
</table>
</center>
<div class="screen"><h4><b>SCREEN<b></h4></div>
</div>
<br/><br/>
<div class="col-sm-3">
  <div class="well" style="border-radius:0px;">

        <table class="table table-default" style="height:400px;">
          <thead>
          <tr>
            <td colspan="2"><h3><b> BOOKING DETAILS</b></h3></td>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td class="booktd">Seat No</td>
            <td style="word-wrap:break-word; text-align:right;"><span id="seatno"></span></td>
          </tr>
          <tr>
            <td class="booktd">No.Of Seats</td>
            <td style="text-align:right"><span id="sno">0</span></td>
          </tr>

          <tr>
            <td class="booktd">Amount Payable</td>
            <td style="text-align:right; font-weight:bold; font-size:20px"><span id="amount">Rs. 0</span></td
          </tr>
          <tr>
            <td colspan="2">
							<center>
        <button ng-click="setPrice()" class="btn btn-primary">PROCEED TO PAY</button>
						</center>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
</div>
</div>
