<div class="container">
  <h2>Show Details</h2>
  <br>
  <div class="col-sm-3">
    <div ng-repeat="j in movi">
      <img src="{{j.moviPoster}}" alt="POSTER"  width="250" height="350" ><br/>
    </div>
  </div>
  <div class="col-sm-8">
    <div ng-repeat="k in movi">
      <h4>TITLE:      {{k.moviTitle}}</h4>
      <h4>DIRECTOR:   {{k.moviDirector}}</h4>
      <h4>ACTORS:     {{k.moviActors}}</h4>
      <h4>LANGUAGE:   {{k.moviLanguage}}</h4>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-sm-6">
    <h4>Select City</h4>
    <select ng-model="mapin.City">
      <option ng-repeat="x in mapping">{{x.City}}</option>
    </select>
  </div>
  <div class="col-sm-6">
    <h4>Select Date</h4>
    <select ng-model="mapin.Date">
      <option ng-repeat="x in movieDates">{{x|date:'dd,MM,yyyy'}}</option>
    </select>
  </div>
</div>
</div>

<div class="container">
  <div class="col-sm-12">
    <table>
      <tr>
      <th>Theatre</th>
      <th>Date</th>
      <th>Showtiming</th>
    </tr>
    <tr ng-show="mapin.Date" ng-repeat="m in booking">
      <td>{{m.Theatre}}</td>
      <td>{{m.Date}}</td>
      <td ng-repeat="t in m.ShowTimings">
      <a href="#/seats" ng-click="setShow(t,m.Theatre,m.Date,m.City)">{{t}}</button></td>
    </tr>
    </table>
  </div>
</div>
